<div class="col-lg-12">
    <h1 class="page-header">Projects List</h1>
</div>

<div class="col-lg-4" ng-repeat="project in projects | filter:searchInput">
    <div class="panel panel-default" draggable="true">
        <div class="panel-heading">
            <h4>{{project.name}}</h4>
        </div>
        <div class="panel-body">
            <p>{{project.description}}</p>
        </div>
        <a href="#/project/id-{{ project.id }}">
            <div class="panel-footer">
                <span class="pull-left">Open this project</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
