{% extends "MaxProjectWebAppBundle:Globals:layout.html.twig" %}

{% block mainContent %}
    {% verbatim %}
    <ul>
        <li ng-repeat="project in projects">
            {{project.name}}
        </li>
    </ul>
    {% endverbatim %}
{% endblock %}
