{# Principale page de l'application Web #}
{% include 'MaxProjectWebAppBundle:Globals:assets.html.twig'%}

<!DOCTYPE html>
<html>
<head>
    <title>ProjectManagment Application</title>
    {% block assets %}{% endblock %}
</head>
<body>
{% block mainContent %}
{% endblock %}
</body>
</html>